.cards {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  left: 58vw;
  top: 0;
  height: 100vh;
  width: 210vw;
  overflow-y:  hidden;
  overflow-x: hidden;
}

.card {
  width: 42vw;
  height: 100vh;
  flex-basis: 42vw;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  mask-image: url("/src/assets/mask.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: left;
}

.card h4 {
  margin-top: 150px;
  margin-right: 50px ;
  font-size: 2rem;
}

.card-content {
  width: 90%;
  height: 90%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: justify;
}

.indigo-dye {
  background-color: var(--indigo-dye);
}
.indigo-dye h4 {
  color: var(--safety-orange);
}
.rufous {
  background-color: var(--rufous);
}

.rufous h4 {
  color: var(--verdigris);
}

.safety-orange {
  background-color: var(--safety-orange);
}

.safety-orange h4 {
  color: var(--indigo-dye);
}

.buff {
  background-color: var(--buff);
}

.buff h4 {
  color: var(--rufous);
}

.verdigris {
  background-color: var(--verdigris);
}

.verdigris h4 {
  color: var(--rufous);
}