.cursor-pointer {
  z-index: 9999;
  position: absolute;
  background: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  opacity: 0.6;
  border: solid 2px var(--buff);
  pointer-events: none;
  box-shadow: 0 0 20px var(--pale), 0 0 60px var(--buff),
  0 0 100px var(--buff);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
  z-index: 10000000;
}

.cursor-pointer:before {
  content: "";
  position: absolute;
  background: var(--buff);
  opacity: 0.6;
  border-radius: 50%;
  z-index: 10000000;
}