.home-side-panel {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 42vw;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  mask-image: url("/src/assets/mask.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: left;
  background-image: var(--diving-center-gradient);
  padding-right: 5vw;
}

.home-side-panel h4 {
  font-size: 2rem;
  width: 100%;
}

.home-side-panel-container {
  position: relative;
  width: 100%;
}
.home-side-panel-description {
  color: var(--pale);
}

.home-side-panel-title,
.home-side-panel-description {
  position: absolute;
  left: 0;
  width: 100%;
}

#description2 {
  opacity: 0;
}

#title2 {
  opacity: 0;
}

.card-content {
  max-width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: justify;
}

.home-side-panel__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

#home-gradient-canvas {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  --gradient-color-1: #0a0614;
  --gradient-color-2: #1f4762;
  --gradient-color-3: #0b5e7a;
  --gradient-color-4: #0c2434;
}
