@font-face {
  font-family: 'poppins';
  src: url('../assets/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'tech';
  src: url('../assets/ShareTechMono-Regular.ttf');
}
:root {
  --background: #0c2434;
  --parallax-background: var(--rufous);
  --sea: #174e63;
  --pale: #E6F4F1;

  --indigo-dye: #004777ff;
  --rufous: #a30000ff;
  --safety-orange: #ff7700ff;
  --buff: #efd28dff;
  --verdigris: #00afb5ff;

  --indigo-dye-gradient: linear-gradient(to left, var(--indigo-dye), 99.5%, var(--background));
  --rufous-gradient: linear-gradient(to left, var(--rufous), 99.5%, var(--rufous));
  --safety-orange-gradient: linear-gradient(-80deg, var(--safety-orange), #f39545);
  --buff-gradient: linear-gradient(to left, var(--buff), 99.5%, var(--verdigris));
  --verdigris-gradient: linear-gradient(to left, var(--verdigris), 99.5%, var(--sea));
}

body {
  margin: 0;
  padding: 0;
  font-family: poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/src/assets/underwater.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  color: var( --pale);
  cursor: none;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
  margin: 20px;
  padding: 20px;
}

h4 {
  color: var(--safety-orange);
}

