.learn-more-button {
  color: var(--pale);
  font-size: 1.2rem;
  font-weight: 600;
  border: 5px solid var(--safety-orange);
  border-radius: 35px;
  transition: all 0.25s ease-in-out;
  padding: 20px 40px;
  cursor: none;
  margin-top: 20px;
  text-transform: uppercase;
}

.learn-more-button:hover {
  border: 5px solid var(--rufous);
}