.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 33vw;
  z-index: 10000;
  transition: transform 0.3s ease-in-out;
  padding: 5px 20px;
  display: flex;
  border-radius: 0 0 10px 0;
}

.glass-dark {
  background: rgba(12, 36, 53, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--sea);
}

.menu-button {
  position: relative;
  width: 6vw;
  height: 1.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--pale);
  background: transparent;
  outline: none;
  border: none;
  transition: all 0.15s ease-in-out;
  cursor: none;
  border-radius: 5px;
}
.menu-button:hover {
  background: rgba(12, 36, 52, 0.6);
  color: var(--safety-orange);
}
