.parallax {
  height: 200vh;
  width: 66vw;
}
.parallax-layer {
  position: fixed;
  height: 200vh;
  width: 66vw;
}

.background {
  transition: background-color 1s ease-in-out;
  background-color: var(--parallax-background);
  display: flex;
  justify-content: center;
}

.background-image-video {
  height: 140vh;
  width: 66vw;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.background-video {
  height: 140vh;
  width: 66vw;
  position: absolute;
  top: 0;
  opacity: 0.05;
  object-fit: cover;
  z-index: 100;
  filter: blur(1px);
}

.background-image {
  position: absolute;
  top: 0;
  height: 140vh;
  width: 66vw;
  z-index: 0;
  object-fit:fill;
  mask-image: linear-gradient(to left, transparent, 0.5% ,black);
}

.fish {
  position: absolute;
  left: calc(0.4 * var(--backgroundWidth));
  top: 70vh;
  opacity: 0.6;
  transform: rotate(40deg) scale(0.7);
  z-index: 30;
}

.diver
{
  position: absolute;
  left: calc(0.1 * var(--backgroundWidth));
  top: -40vh;
  transform: scale(0.55);
  z-index: 50;
  opacity: 1;

}

.creature {
  position: absolute;
  left: calc( 0.7 * var(--backgroundWidth));
  top: 95vh;
  opacity: 0.9;
  transform: scale(0.7);
  z-index: 40;

}
