.scroll-lottie {
  position: fixed;
  left: 20px  ;
  width: 40px;
  transition: opacity 1s ease-in-out;
  z-index: 10000;
}

.scroll-lottie-up {
  top: 100px;
  transform: rotate(180deg);
}

.scroll-lottie-down {
  bottom: 80px;
}