.scroll-icon {
  position: fixed;
  z-index: 10000;
  transition: all 3s ease-in-out;
}

.scroll-icon-up {
  top: 15px;
  left: 63vw;
  transform: rotate(270deg);
}

.scroll-icon-down {
  transform: rotate(90deg);
  bottom: 60px;
  left: 63vw;
}

.scroll-svg {
  padding: 7px;
  border-radius: 25px;
}