.trips-page {
  position: relative;
  height: 500vh;
  width: 100vw;
  background-image: var(--trips-gradient);
  color: var(--rufous);
  cursor: none;
}

.trips-page__hero {
  position: relative;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.trips-page__hero_header {
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 1000000;
  height: 100%;
}

.trips-page__hero__image {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.globe-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}


.svg-container {
  position: absolute;
  width: 100%;
  top: 80vh;
  height: 410vh;
  overflow: hidden;
  z-index: 1;
}

#octopus-trips {
  position: absolute;
  bottom: -50px;
  right: -150px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 2;
}