.visas-to-cuba-page {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient( farthest-corner at 40px 40px, var(--indigo-dye), 85%, var(--safety-orange) );
}

.visas-to-cuba-title {
  position: absolute;
  right: 10vh;
  top: 30px;
  z-index: 1;
  padding: 0 50px;
  color: var(--verdigris);
  background-image: linear-gradient(80deg,transparent, 15%, var(--safety-orange), 85%, transparent);
}

.visas-to-cuba-page-hero {
  background-image: url("/src/assets/ghost_ship.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.visas-to-cuba-panel {
  position: absolute;
  top: 0;
  height: 100vh;
  width: calc((100vw - 100vh) / 2 + 12vh);
  mask-size: cover;
  mask-repeat: repeat-y;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px
}

.visas-to-cuba-panel-left {
  left: -100%;
  mask-image: url("/src/assets/mask-lewa.png");
  mask-position: right;
  background-image: linear-gradient(80deg, var(--background), 85%, var(--safety-orange));
}

.visas-to-cuba-panel-right {
  right: -100%;
  mask-image: url("/src/assets/mask.png");
  mask-position: left;
  background-image: linear-gradient(80deg, var(--verdigris), 15%, var(--background));
}

.cuba-logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5vw;
  z-index: 1;
  background-image: var(--safety-orange-gradient);
}